body{
    font-family: Arial, sans-serif;
}
h3{
    width: 100%;
    font-weight: 500;
}
hr{
    background-color: #f5f5f5;
}
.column{
    float: left;
}
.external-div{
    width: 1000;
    margin: 0 auto;
}
.rows{
    margin-top: 20px;
    display: flex;
}
.button-gerar {
    cursor: pointer;
}
.label-input{
    font-weight: 700;
}